extends layout

block content
  .inner
    h1= title
    #chatWindow.chat__window
      if chat.messages
        each message in chat.messages
          -const isCurrentUser = user.id === message.user.id;
          .chat__message(class=(isCurrentUser ? 'chat__message--self': ''))
            if message.user.photo
              img.chat__avatar(src=(message.user.photo))
            else
              img.chat__avatar(src="/images/profile-placeholder.png" alt="Placeholder user image")
            p.chat__meta
              span.chat__name(class=(isCurrentUser ? 'chat__name--self': ''))= isCurrentUser ? 'Me': message.user.name
              - const date = h.dateFns.isToday(message.created_at) ? `Today at ${h.dateFns.format(message.created_at, 'HH:mm')}` : h.dateFns.distanceInWordsToNow(message.created_at);
              span.chat__date-time= date
            p.chat__content= message.content
    input(type="hidden" name="channelId" value=chat.id)
    form#messageForm.form(action="POST")
      label.label Your Message
        input.input(name="message" autocomplete="off")
      button.button(type="submit") Send