extends layout

block content
  .inner
    h1 Users
    if users
      ul.user-list
        each user in users
          li.user-list__item
            .user-card
              h2.user-card__title= user.name
              if user.photo
                  - const photoSrc = user.photo.startsWith('http') ? user.photo : `/uploads/users/${user.photo}`
                  img.user-card__avatar(src=user.photo alt=`${user.name}'s profile image`)
              else
                img.user-card__avatar(src="/images/profile-placeholder.png" alt="Placeholder user image")
              form(action="/chat" method="post")
                input(type="hidden", name="userId" value=user.id)
                button.button(type="submit") Start chat